@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	li {
		@apply px-2;
		@apply cursor-pointer;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Name App in Navbar */
.logo {
	font-family: "Orbitron";
}

/* Jumbotron component */
.box-shadow {
	box-shadow: 100px 0px 70px 20px rgba(1, 8, 20, 0.992) inset;
	-webkit-box-shadow: 100px 0px 70px 20px rgba(1, 8, 20, 0.992) inset;
	-moz-box-shadow: 100px 0px 70px 20px rgba(1, 8, 20, 0.992) inset;
}

.box-shadow-little {
	box-shadow: 0px -119px 40px 18px rgba(0, 0, 0, 0.9) inset;
	-webkit-box-shadow: 0px -119px 40px 18px rgba(0, 0, 0, 0.9) inset;
	-moz-box-shadow: 0px -119px 40px 18px rgba(0, 0, 0, 0.9) inset;
}

@media only screen and (max-width: 600px) {
	.box-shadow {
		box-shadow: 30px -1px 40px 0px #030b17 inset;
		-webkit-box-shadow: 30px -1px 40px 0px #030b17 inset;
		-moz-box-shadow: 30px -1px 40px 0px #030b17 inset;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* custom scroll bar */
::-webkit-scrollbar {
	width: 0.8rem;
	background-color: hsla(216, 74%, 18%, 0.8);
	opacity: 0.1;
}

::-webkit-scrollbar-thumb {
	background-color: hsla(0, 0%, 55%, 0.466);
	border-radius: 8px;
	opacity: 0.1;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsla(0, 0%, 55%, 0.9);
}
